@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container-p1{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}




















/* Home Header */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.navbar-brand{
    margin-left: 3rem;
}

.navbar-expand-lg .navbar-collapse{
    margin-right: 3rem;
}

.navbar-toggler{
    margin-right: 3rem;
}

/* Navbars */
.navbar {
    position: fixed;
    top: -100px;
    width: 100%;
    /* background-color: rgb(39, 39, 39); */
    overflow: auto;
    height: auto;
    transition: 0.6s;
    z-index: 9999; 
}

.navbar-light #myNavbar li a{
    color: black !important;
}

/* CSS Home Mountain */
.mountain1{
    position: absolute;
    bottom: -100px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person{
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}

.mountain2{
    position: absolute;
    width: 1280px;
    bottom: -100px;
    left: 0;
    z-index: 18;
}

.mountain3{
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}

.sky{
    position: absolute;
    width: 2100px;
    bottom: 250px;
    right: 0;
}

/* Home Title */
.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

/* Section both side */
section .container-p1{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section .imgContainer img{
    width: 100%;
}

section .container-p1 > *{
    margin: 2rem;
}

.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

/* Transition Diantara home + history */
.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}

@media (max-width: 850px){
    section .container-p1{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}

/* Carousel effect */
.sum7 {
    text-align: center;
    color: #fff !important;
}

#summitCarousel{
    height: 100vh;
}

.carousel-item img{
    /* width: 100%; */
    height: 100vh;
}

/* Caption Carousel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
}

/* infography - 7Summits */
#infography{
    width: 100%;
    background: url(../img/MojaveDesert.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#infography #info-7{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.box-title-content {
    /* width: 100%; */
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    /* margin: 10px -15px -15px; */
}

/* EXPEDITION */
section .exped{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#expedition #exped-7{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.exped h2 span {
	margin-left: 1em;
	color: white;
	font-size: 12px;
}

.exped .column {
	/* margin: 15px 15px 0; */
    /* margin: auto 220px; */
    justify-content: center;
    display: flex;
	padding: 0;
}
.exped .column:last-child {
	padding-bottom: 60px;
}
.exped .column::after {
	content: '';
	clear: both;
	display: flex;
}
/* pengaturan hover pada text */
.exped .column div { 
	position: relative;
	float: left;
	width: 200px;
	height: 400px;
	margin: 0 10px;
	padding: 0;
}
.exped .column div:first-child {
	margin-left: 20px;
}
.exped .column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: 999;
	display: block;
	width: 200px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.column .ex{
    margin: auto 100%;
}

.exped figure {
	width: 200px;
	height: 400px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.exped figure img{
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.exped figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
/* effect di ekspedisinya */
.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/* Button Hover Expedition */
#expedButton{
    margin: 50px auto ;
}

/* FOOTER */
/* https://www.web-eau.net/blog/10-best-footer-html-css-snippets */
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color:#282d32;
}
  
  .footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .footer-dark ul a:hover {
    opacity: 0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
        margin-bottom: 36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
  }
  
  .footer-dark .item.text p {
        opacity: 0.6;
        margin-bottom: 0;
  }
  
  .footer-dark .item.social {
        text-align: center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
  }
  
  .footer-dark .item.social > a {
        font-size: 20px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
        margin: 0 8px;
        color: #fff;
        opacity: 0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity: 0.9;
  }
  
.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

/* Belum Responsive */